body{
    margin: 0 0;
}
.container{
    display: grid;
    grid-template-areas: 
    "nav header"
    "nav main";
    grid-template-rows: 201px 1fr;
    grid-template-columns: 240px 1fr;
    grid-gap: 0;
    max-width: 100%;  
    
    position: relative;
    z-index: 1;
}
header{
    grid-area: header;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
}
main{
    grid-area: main;
    max-width: 1200px;
    background: #FAFAFA;    
}
nav{
    grid-area: nav;
    margin: 0 0;
    background: #F3F4F9;      
}
.layout{    
    margin: 40px 60px 100px;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(auto-fit, minmax(161px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;   
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.text_type_h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    opacity: 0.85;
}
.search{    
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    width: 90%;
    padding-left: 26px;
}
.search__input{
    border: none;
    outline: none;    
    padding: 12px 16px 12px 44px;
}
input[type="text"]{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.45);
}
input{
    max-width: 100%;
}
.search__icon{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 16px;    
    background-image: url('icon/search.png');
    background-repeat: no-repeat;
    opacity: 0.3;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 41px 78px 60px 41px;
}
.logo__img{
    background-image: url('image/logo.png');
    background-repeat: no-repeat;    
    width: 50px;
    height: 50px;
    padding-right: 10px;  
}
.logo__title{
    height: 24px;    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}
.aside-nav{    
    margin-top: 60px;
    margin-left: 40px;

}
.aside-nav__item{
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;    
    color: #333333;
    position: relative;    
    height: 64px;
    display: block;
}
.hidden_desktop{
    visibility: hidden;
    display: none;
}
.aside-nav__link{
    text-decoration: none;
    
    color: #333333;
}
.aside-nav li:nth-child(1)::before{
    content: "";
    background-image: url("icon/catalog.png");
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 0;
}
.aside-nav li:nth-child(2)::before{
    content: "";
    background-image: url("icon/health.png");
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 0;
}
.aside-nav li:nth-child(3)::before{
    content: "";
    background-image: url("icon/beauty.png");
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 0;
}
.aside-nav li:nth-child(4)::before{
    content: "";
    background-image: url('icon/enjoy.png');
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 0;
}
.aside-nav li:nth-child(5)::before{
    content: "";
    background-image: url('icon/car.png');
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 0;
}
.aside-nav li:hover::before{    
    border-left: 3px solid #34ABE0;
}
.aside-nav li:nth-child(1):hover::before{    
    background-image: url('icon/active/catalog.png');    
}
.aside-nav li:nth-child(2):hover::before{    
    background-image: url('icon/active/health.png');    
}
.aside-nav li:nth-child(3):hover::before{    
    background-image: url('icon/active/beauty.png');    
}
.aside-nav li:nth-child(4):hover::before{    
    background-image: url('icon/active/enjoy.png');    
}
.aside-nav li:nth-child(5):hover::before{    
    background-image: url('icon/active/car.png');    
}
.aside-nav__item:visited{
    color: #34ABE0;
}
.aside-nav li:hover a{
    color: #34ABE0;    
}

.card{    
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-color: #C4C4C4;
    border-radius: 10px;     
}
.card__background{
    background-image: url('image/image.png');
      
}
.card__header{
    padding: 16px 20px;
}
.card__footer{
    padding: 16px 20px;
}
.text_type_h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
.text_type_p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}
.text_color_red{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    color: #DF212D;
}
.text_type_h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;    
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
}
.navigation{
    /* visibility: hidden;
    display: none; */
}
input[type="checkbox"]{
    visibility: hidden;
    display: none;
}

/* 768px */
@media (max-width: 1024px){
    .container{
        display: grid;
        grid-template-areas: 
        "nav header"
        "nav main";
        grid-template-rows: 181px 1fr;
        grid-template-columns: 104px 1fr;
        grid-gap: 0;
        max-width: 100%;
        z-index: 1;           
    }
    nav{
        grid-area: nav;
        margin: 0 0;
        background: #F3F4F9;
        width: 104px; 
    }
    .aside-nav{
        margin-top: 68px;
    }
    .layout{        
        margin: 27px 26px 100px;
        grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(144px, 1fr));   
    }
    .card{    
        height: 144px;             
    }
    /* menu */
    .logo{
        width: 100%;
        margin: 40px 40px;
    }
    .logo__img{
        width: 25px;
        height: 24px;
        background-image: url(image/logo-mid.png);
        background-repeat: no-repeat;        
    }
    .logo__title{
        visibility: hidden;
    }
    .hidden_tablet{
        visibility: hidden;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 27px;
    }

   /*  burger menu */
   .wpap{
       background-color: #F3F4F9;
       width: 40px;
       height: 60px;
       position: absolute;
       left: 100px;
       top: 15px;
       border-top-left-radius: 30%;
       border-top-right-radius: 70%;
       border-bottom-right-radius: 70%;
       border-bottom-left-radius: 30%;
   }
   .navigation{
        width: 246px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        list-style: none;
        margin: 0 0;
        background: #F3F4F9;
        visibility: hidden;
        display: block;
        transition-duration: .3s;
        padding-top: 111px;
        padding-left: 76px;
   }
   .navigation__item{       
       margin: 0 0;
       padding: 19px 0 23px;       
   }
   .navigation__link{
       display: block;
       text-decoration: none;
       color: #333333;
       font-family: Open Sans;
       font-style: normal;
       font-weight: 600;
       font-size: 16px;
       line-height: 22px;
       padding: 10px 20px;
   }
   .nav__link:hover{
       color: #34ABE0;
   }
   .nav__trigger{
       position: absolute;
       clip: rect(0, 0, 0, 0);
   }
   .nav__btn{
       position: fixed;
       left: 109px; 
       top: 43px;
       z-index: 2;
       height: 26px;
       width: 20px;
       cursor: pointer;      
   }
   .nav__btn > span,
   .nav__btn > span::before,
   .nav__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .3s;
    }
    .nav__btn > span::before {
        content: '';
        top: -8px;
    }
    .nav__btn > span::after {
        content: '';
        top: 8px;
    }

    #nav__trigger:checked ~ .nav__btn > span {
        transform: rotate(45deg);
        left: 100px;
    }
    #nav__trigger:checked ~ .nav__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #nav__trigger:checked ~ .nav__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #nav__trigger:checked ~ .navigation {
        visibility: visible;
        left: 0;
        z-index: 1;
    }
   .nav__trigger + label, .container {
       transition: left 0.2s;
    }

}
/* 320px */
@media screen and (max-width: 446px){
    .container{
        display: grid;
        grid-template-areas: 
        "nav header"
        "nav main";
        grid-template-rows: 169px 1fr;
        grid-template-columns: 12px 1fr;
        grid-gap: 0;
        max-width: 100%;
        z-index: 1;           
    }
    nav{
        width: 12px;
    }
    .layout{        
        margin: 27px 20px 27px 20px;
        grid-template-columns: 268px;
        grid-template-rows: repeat(auto-fit, minmax(130px, 1fr));   
    }
    .card{    
        height: 130px;             
    }
    .card__background{
        background-image: url('image/image.png');
        background-size: cover;
    }
    .logo{
        display: none;
    }
    .nav__btn{
        left: 21px;
    }
    .flex{
        margin-top: 27px;
    }


    
    input[type="text"]{
        font-size: 14px;
    }
    .space_left{
        margin-left: 20px;
    }
    .space_top {
        margin-top: 20px;
    }
    .text_type_h1{
        font-size: 24px;
    }   
    .text_type_h4{
        font-size: 12px;
    }
    .text_type_p{
        font-size: 12px;
    }
    .text_type_h3{
        font-size: 12px;
    }
    .text_color_red{
        font-size: 28px;
    }

    .hidden_mobile{
        visibility: hidden;
        display: none;
    }

}